{% extends 'base_light.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
<section class="mt-7 pt-6 bg-section-secondary">
        <div class="container">

            <div class="row row-grid align-items-center justify-content-center pt-4">
                <div class="col-12">
                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                    {%- for message in errors %}

                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor -%}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row mb-4">
                        <div class="col">
                            <h5 class="align-right"></h5>
                        </div>
                        <div class="col-auto">
                            <a href="{{url_for('submit_post')}}" class="btn btn-sm btn-outline-primary">Добавить новость
                            </a>
                        </div>
                    </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="list-group list-group-flush">
                            {% for n in news.items %}
                            <div class="list-group-item d-flex w-100 justify-content-between px-1 py-1">
                                <div class="col-auto icon icon-sm">
                                    <a href="{{url_for('post_vote', post_id=n.id, action_vote=1)}}" class="text-secondary" onmouseover="this.className='text-primary';" onmouseout="this.className='text-secondary';"><i data-feather="chevron-up" class="mb-n2 mr-0"></i></a>
                                    <p class="mb-0 text-center">{{n.votes}}</p>
                                </div>
                                <div class="col-10 my-auto">
                                    {% if n.uri %}
                                    <h6 class="font-weight-light mb-0"><a href="{{ url_for ('get_post', post=n.id)}}" target="_blank">{{n.title}}</a>&nbsp;({{n.domain}})</h6>
                                        {% if n.type.type == 1 %}
                                            <span class="badge badge-success">{{n.type}}</span>
                                        {% elif n.type.type == 2 %}
                                            <span class="badge badge-danger">{{n.type}}</span>
                                        {% elif n.type.type == 3 %}
                                            <span class="badge badge-primary">{{n.type}}</span>
                                        {% elif n.type.type == 4 %}
                                            <span class="badge badge-dark">{{n.type}}</span>
                                        {% endif %}
                                    <span class="text-sm text-muted">опубликовано {{ ages[loop.index-1] }} назад</span>
                                    {% else %}
                                    <h6 class="font-weight-light mb-0"><a href="{{ url_for ('get_post', post=n.id)}}" target="_blank">{{n.title}}</a></h6>
                                        {% if n.type.type == 1 %}
                                            <span class="badge badge-success">{{n.type}}</span>
                                        {% elif n.type.type == 2 %}
                                            <span class="badge badge-danger">{{n.type}}</span>
                                        {% elif n.type.type == 3 %}
                                            <span class="badge badge-primary">{{n.type}}</span>
                                        {% elif n.type.type == 4 %}
                                            <span class="badge badge-dark">{{n.type}}</span>
                                        {% endif %}
                                    <span class="text-sm text-muted">опубликовано {{ ages[loop.index-1] }} назад</span>
                                    {% endif %}
                                </div>
                                <div class="col-1 text-right">
                                    {% if n.author.id == current_user.id %}
                                    <div class="dropdown action-item" data-toggle="dropdown">
                                        <a href="#" class="action-item"><i data-feather="more-horizontal"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!-- a href="#" class="dropdown-item">Редактировать</a-->
                                            <a href="#" data-toggle="modal" data-target="#exitModal" class="dropdown-item">Удалить</a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Подтверждение</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы точно хотите удалить пост?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{{url_for('delete_post', post_id=n.id)}}" type="button" class="btn btn-secondary">Да, точно</a>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Нет, я передумал</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if news.total %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if news.has_prev %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for ('list_news', page=news.prev_num) }}" tabindex="-1" aria-disabled="true">Назад</a>
                            </li>
                            {% endif %}

                            {% for curr_page in news.iter_pages() %}
                                {% if curr_page %}
                                    {% if curr_page != news.page %}
                                        <li class="page-item"><a class="page-link" href="{{ url_for ('list_news', page=curr_page) }}">{{curr_page}}</a></li>
                                    {% else %}
                                        <li class="page-item active"><span class="page-link">{{curr_page}}<span class="sr-only">(current)</span></span></li>
                                    {% endif %}
                                {% else %}
                                    <li class="page-item"><span class="page-link"> ... </span></li>
                                {% endif %}
                            {% endfor %}

                            {% if news.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for ('list_news', page=news.next_num) }}">Вперед</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
</section>

{% endblock %}