{% extends 'base_light_footer_white.html' %}

{% block title %}Добавить новость{% endblock %}

{% block content %}

<section class="mt-6 pt-5">
    <div class="container">
        <div class="row justify-content-center pt-6">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Title -->
                        <h3 class="mb-3">Добавить новость</h3>
                        <!-- Form -->

                        <form method="POST" action="/news/submit.html">
                            <!-- General information -->
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="title" placeholder="Название новости">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="post_uri" placeholder="Полная ссылка на новость (URL)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Или</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <textarea class="form-control form-control-lg" name="post_text" data-toggle="autosize" placeholder="Напишите текст новости." rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="row ">
                                <div class="col-md-8 my-3 text-lg-right">
                                    <button type="submit" class="btn btn-sm btn-primary">Опубликовать</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}