alembic==1.6.5
APScheduler==3.8.1
attrs==21.4.0
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.0
clickclick==20.10.2
connexion==2.6.0
Flask==2.1.0
Flask-Admin==1.5.8
Flask-APScheduler==1.12.3
Flask-BasicAuth==0.2.0
Flask-Login==0.5.0
Flask-Markdown==0.3
Flask-Migrate==3.0.1
flask-msearch==0.2.9.2
Flask-SimpleMDE==0.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
Frozen-Flask==0.15
greenlet==1.1.2
idna==3.3
inflection==0.5.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.1.1
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
packaging==21.3
pyparsing==3.0.8
pyrsistent==0.18.1
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyMuPDF==1.20.2
PyYAML==6.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.35
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
Werkzeug==2.0.0
WTForms==3.0.1
transliterate==1.10.2
Pillow==9.3.0
google-auth-oauthlib==0.7.1
textile==4.0.2
whoosh==2.7.4
pip==22.3.1