{% extends "base_light.html" %}
{% block title %}Предложите стажировку{% endblock %}
{% block description %}Предложите стажировку{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/simplemde.min.css') }}" id="stylesheet">
    {{ simplemde.js }}
{% endblock %}

{% block content %}
<section class="mt-7 pt-6 bg-section-secondary">
    <div class="container">

        <form method="POST">
            {{ form.csrf_token }}
            <div class="row row-grid">
                 <div class="col-lg-9">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                           {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                     {% endwith %}

                     <div class="form-group">
                        <h6 class="mb-0">Название компании</h6>
                        {{form.company(class_="form-control")}}
                    </div>
                    <div class="form-group">
                        <h6 class="mb-0">Название вакансии</h6>
                        {{form.name_vacancy(class_="form-control")}}
                    </div>

                    <div class="form-group">
                        <h6 class="mb-0">Город (если не удаленно)</h6>
                        {{form.location(class_="form-control")}}
                    </div>
                    <div class="form-group">
                    <h6 class="mb-0">Формат стажировки</h6>
                        {% for choice in form.format %}
                        <div class="form-check">
                            {{ choice(class="text-sm form-check-input") }}
                            {{ choice.label(class="text-sm form-check-label") }}
                        </div>
                        {% endfor %}
                    </div>
                     <div class="form-group">
                    <h6 class="mb-0">Технологии (через запятую)</h6>
                         {{form.tag(class_="form-control")}}
                    </div>
                    <div class="form-group">
                        <h6 class="mb-0">Ссылка на сайт компании</h6>
                        {{form.more_inf(class_="form-control")}}
                    </div>
                    <div class="form-group">
                        <h6 class="mb-0">Заработная плата (введите "неоплачиваемая", если оплата стажировки не предполагается)</h6>
                        {{form.salary(class_="form-control")}}
                    </div>
                    <div class="form-group">
                        <h6 class="mb-0"> Описание деятельности стажера (для форматирования используется <a href="https://simplemde.com/markdown-guide" target="_blank">Markdown</a>)</h6>
                        {{form.description(class_="form-control", data_toggle="autosize", rows="9")}}
                        <script>
                        (function () {
                            var simplemde = new SimpleMDE({
                                spellChecker: false,
                                element: document.getElementById("description"),
                            });
                        })();
                        </script>
                    </div>
                    <div class="form-group">
                        <h6 class="mb-0"> Требования к стажеру (для форматирования используется <a href="https://simplemde.com/markdown-guide" target="_blank">Markdown</a>)</h6>
                        {{form.requirements(class_="form-control", data_toggle="autosize", rows="9")}}
                        <script>
                        (function () {
                            var simplemde = new SimpleMDE({
                                spellChecker: false,
                                element: document.getElementById("requirements"),
                            });
                        })();
                        </script>
                    </div>
                    <hr class="my-3" />
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary w-100">Отправить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}