{% for i in internships.items %}
    <div class="card">
        <div class="card-body pt-2">
                <h4 class = "text mt-3"> <a href="/internships/{{ i.id }}" target="_blank">  <strong> {{i.name_vacancy}} </strong> </a></h4>
                <p style="font-size: 100%" class="text m-0">{{i.company}}</p>
                <p style="font-size: 100%"  class="text mb-1 mt-0"> {{i.location}}</p>
                {% if i.more_inf %}
                  <a href="{{ i.more_inf }} " target="_blank" class="btn btn-primary btn-sm">На сайт компании</a>
                {% endif %}

        </div>

    </div>
{% endfor %}


{% if internships.total %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if internships.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for ('internships_index', format=format, company=company, tag=tag) }}" tabindex="-1" aria-disabled="true">Назад</a>
    </li>
      {% endif %}

      {% for curr_page in internships.iter_pages() %}
      {% if curr_page %}
        {% if curr_page != internships.page %}
            <li class="page-item"><a class="page-link" href="{{ url_for ('internships_index', page=curr_page, format=format, company=company, tag=tag) }}">{{curr_page}}</a></li>
        {% else %}
        <li class="page-item active"><span class="page-link">{{curr_page}}<span class="sr-only">(current)</span></span></li>
        {% endif %}
      {% else %}
        <li class="page-item"><span class="page-link"> ... </span></li>
      {% endif %}
      {% endfor %}

      {% if internships.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for ('internships_index', page=internships.next_num, format=format, company=company, tag=tag) }}">Вперед</a>
    </li>
      {% endif %}
  </ul>
</nav>
{% endif %}