{% for i in internships.items %}
    <div class="card">
        <div class="card-body pt-2">
               <h4 class = "text mt-3"><strong> {{i.name_vacancy}}</strong></h4>
                <p style="font-size: 120%" class="text mb-2">{{i.company}}</p>
                <p style="font-size: 120%"> <img  src="/images/location.png" class="ml-0" width="25px">{{i.location}}</p>

                <a href="/internships/{{ i.id }}" class="btn btn-primary">Подробнее</a>

        </div>

    </div>
{% endfor %}


{% if internships.total %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if internships.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for ('internships_index', format=format, company=company) }}" tabindex="-1" aria-disabled="true">Назад</a>
    </li>
      {% endif %}

      {% for curr_page in internships.iter_pages() %}
      {% if curr_page %}
        {% if curr_page != internships.page %}
            <li class="page-item"><a class="page-link" href="{{ url_for ('internships_index', page=curr_page, format=format, company=company) }}">{{curr_page}}</a></li>
        {% else %}
        <li class="page-item active"><span class="page-link">{{curr_page}}<span class="sr-only">(current)</span></span></li>
        {% endif %}
      {% else %}
        <li class="page-item"><span class="page-link"> ... </span></li>
      {% endif %}
      {% endfor %}

      {% if internships.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for ('internships_index', page=internships.next_num, format=format, company=company) }}">Вперед</a>
    </li>
      {% endif %}
  </ul>
</nav>
{% endif %}