{% extends "base_light.html" %}
{% block title %}Как подать заявление для поступления в бакалавриат СПбГУ{% endblock %}
{% block description %}Подробная инструкция как подать заявление на поступление на программы бакалавриата СПбГУ.{% endblock %}

{% block content %}
     <!-- Main content -->
    <section>
        <!-- Container -->
        <div class="container d-flex align-items-center py-5 py-lg-6 border-bottom">
            <div class="col px-0">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Heading -->
                        <h2 class="mb-2">Как подать заявление для поступления в бакалавриат СПбГУ</h2>
                        <!-- Text -->
                        <p class="lead mb-0">Мы написали подробную инструкцию о том, как подать заявление для поступление на программы бакалавриата СПбГУ. Вопросы, связанные с процессом поступления, можно задать в <a href="https://abiturient.spbu.ru/" target="_blank">приемной комиссии</a> по электронной почте: <a href="mailto:math@priem.spbu.ru">math@priem.spbu.ru</a>.</p>
                        <!-- Meta -->
                        <div class="media align-items-center pt-3">
                            <div class="media-body">
                                <span class="text-sm text-muted">22 Января 2021г.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-1">
                            <h4 class="">1.</h4>
                        </div>
                        <div class="col-lg-10">
                            <p>
                                Зарегистрируйтесь на сайте <a href="https://cabinet.spbu.ru/" target="_blank">cabinet.spbu.ru</a>. Укажите личные данные абитуриента и отметьте, что собираетесь "Поступить в СПбГУ".
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <h4 class="">2.</h4>
                        </div>
                        <div class="col-lg-10">
                            <p>
                                Заполните анкету поступающего, нажав на кнопку "Заполнить". Это необходимо для того, чтобы позже сформировать заявление на поступление.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <h4 class="">3.</h4>
                        </div>
                        <div class="col-lg-10">
                            <p>
                                Создайте заявление на поступление на программы бакалавриата. Затем добавьте интересующие вас программы и расположите их в порядке убывания приоритета.
                            </p>
                            <ul class="list-unstyled">
                                <li class="ml-4 pb-3">
                                    <span class="badge badge-dot"><i class="bg-primary align-middle"></i></span>
                                    <span class="align-middle">Если вы хотите получить место в общежитие на время обучения, отметьте соответствующее поле в категории <i>"Контакты"</i>.</span>
                                </li>
                                <li class="ml-4 pb-3">
                                    <span class="badge badge-dot"><i class="bg-primary align-middle"></i></span>
                                    <span class="align-middle">Если у абитуриента есть аттестат с отличием, отметьте поле <i>"Медалист (красный диплом)"</i>, чтобы получить 3 балла за индивидуальные достижения. Продублируйте это в поле <i>"О себе сообщаю"</i> в категории <i>"Дополнительные сведения"</i>.</span>
                                </li>
                                <li class="ml-4">
                                    <span class="badge badge-dot"><i class="bg-primary align-middle"></i></span>
                                    <span class="align-middle">Если вы претендуете на поступление в рамках особой квоты, отметьте <i>"Претендую на особые права"</i>. Это не касается поступления БВИ.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <h4 class="">4.</h4>
                        </div>
                        <div class="col-lg-10">
                            <p>
                                Создайте заявление на поступление на программы бакалавриата. Затем добавьте интересующие вас программы и расположите их в порядке убывания приоритета.
                            </p>
                            <ul class="list-unstyled">
                                <li class="ml-4">
                                    <span class="badge badge-dot"><i class="bg-primary align-middle"></i></span>
                                    <span class="align-middle">Если у вас имеются дипломы олимпиад, укажите их в разделе <i>"Олимпиады".</i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <h4 class="">5.</h4>
                        </div>
                        <div class="col-lg-10">
                            <p>
                                Скачайте, распечатайте, и подпишите заявление. Затем прикрепите сканы документов, перечисленных в разделе <i>"Загрузка документов"</i>.
                            </p>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-lg">
                <h4 class="">Список необходимых документов</h4>
            </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                <ul class="list-unstyled list-bullet">
                    <li class="py-2">
                        <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
                        Паспорт (страница с фотографией и страница с регистрацией)
                    </li>
                    <li class="py-2">
                        <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
                        Заявление о приеме на программы бакалавриата
                    </li>
                    <li class="py-2">
                        <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
                        Фотография поступающего (сделана в текущем году, не менее 600х800 пикселей)
                    </li>
                    <li class="py-2">
                        <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
                        Документ об образовании (диплом, аттестат)
                    </li>
                    <li class="py-2">
                        <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
                        Документы, подтверждающие наличие особых прав и преимуществ при поступлении (при наличии)
                    </li>
                    <li class="py-2">
                        <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
                        Документы, подтверждающие наличие индивидуальных достижений поступающего (при наличии)
                    </li>
                    <li class="py-2">
                        <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
                        <a href="https://abiturient.spbu.ru/2493-o-podache-zayavlenij-o-soglasii-na-zachislenii.html" target="_blank">Согласие на зачисление</a> (можно предоставить после проверки заявления)
                    </li>
                </ul>
            </div>
                    </div>
                </div>
                <div class="col-lg-3 ml-lg-auto px-0">
                    <div data-toggle="sticky" data-sticky-offset="50">
                        <a class="btn btn-lg btn-primary" href="https://cabinet.spbu.ru/" target="_blank">
                            <span class="btn-inner--text">Кабинет поступающего</span>
                            <span class="btn-inner--icon">
                                <i data-feather="arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}