{% extends "base_light.html" %}
{% block title %}Как подать заявление для поступления в бакалавриат СПбГУ{% endblock %}
{% block og_image %}{{ url_for('static', filename='/assets/img/og/og-programs.png', _external=True) }}{% endblock %}
{% block description %}
  Подробная инструкция как подать заявление на поступление на программы бакалавриата СПбГУ.
{% endblock %}
{% block content %}
  <!-- Main content -->
  <section class="slice">
    <!-- Container -->
    <div class="container d-flex align-items-center py-5 py-lg-6">
      <div class="col">
        <div class="row">
          <div class="col-lg-8">
            <!-- Heading -->
            <h2 class="mb-2">Как подать заявление для поступления в бакалавриат СПбГУ</h2>
            <!-- Text -->
            <p class="lead mb-0">
              Вопросы, связанные с процессом поступления, можно задать <a href="https://abiturient.spbu.ru/" target="_blank">приемной комиссии</a> по электронной почте: <a href="mailto:math@priem.spbu.ru">math@priem.spbu.ru</a>.
            </p>
            <p class="lead mb-0">
              С 2024 года приём документов в СПбГУ от граждан России осуществляется только через Сервис <a href="https://www.gosuslugi.ru/vuzonline" target="_blank">«Поступление в вуз онлайн»</a>.
              Информация по работе с Сервисом размещена в <a href="https://abiturient.spbu.ru/programs/bakalavriat/#accordion_24"
    target="_blank">соответствующем разделе</a> сайта приемной комиссии.
            </p>
            <!-- Meta -->
            <div class="media align-items-center pt-3">
              <div class="media-body">
                <span class="text-sm text-muted">Обновлено 21 июня 2025 г.</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 ml-lg-auto align-self-center">
            <div data-toggle="sticky" data-sticky-offset="50">
              <a class="btn btn-lg btn-primary"
                 href="https://www.gosuslugi.ru/vuzonline"
                 target="_blank">
                <span class="btn-inner--text">Поступление в вуз онлайн</span>
                <span class="btn-inner--icon">
                  <i data-feather="arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
