<!DOCTYPE html>
<html lang="ru" {% block schemapage %}{% endblock %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Илья Зеленчук">
    <title>{% block title %}{% endblock %}</title>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NGT2J3Z');</script>
<!-- End Google Tag Manager -->

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='/assets/img/favicon.png') }}" type="image/png">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/quick-website.css') }}" id="stylesheet">
    <!-- Page CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/libs/animate.css/animate.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/libs/@fortawesome/fontawesome-free/css/all.min.css') }} ">

    {% block head_links %}
    {% endblock %}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGT2J3Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- SPbU topbar (noscript) -->
<script type="text/javascript"> (function(){ var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true; sc.src = '//topbar.spbu.ru/loader.js'; var ls = document.getElementsByTagName('script')[0]; ls.parentNode.insertBefore(sc, ls); })(); </script>
<!-- End SPbU topbar (noscript) -->

<!-- Header -->
    <header class="header-transparent pt-5" id="header-main">

        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom" id="navbar-main">
            <div class="container">
                <!-- Brand -->
                <div class="px-0 media d-flex w-100">

                    <a href="{{ url_for('index') }}">
                        <figure>
                            <img alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/logo-black.svg') }}" class="img-fluid">
                        </figure>
                    </a>
                    <figure class="px-3">
                        <img alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/line-header-black.svg') }}" class="img-fluid">
                    </figure>
                    <a class="pl-0" target="_blank" href="https://spbu.ru/">
                        <figure>
                            <img alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/spbu-logo-black.svg') }} " class="img-fluid">
                        </figure>
                    </a>

                <!-- Toggler -->
                <button class="navbar-toggler my-auto" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapse -->
                <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
                    <!-- Toggler -->
                    <div class="position-relative">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <i data-feather="x"></i>
                        </button>
                    </div>

                    <!-- Right navigation -->
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                                <a class="text-dark nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                                    Поступающим
                                </a>
                                <div class="dropdown-menu dropdown-menu-md p-0">
                                    <div class="list-group list-group-flush px-lg-4">
                                        <a href="{{ url_for('bachelor_admission') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Бакалавриат</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('index', _anchor='magistracy') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Магистратура</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('frequently_asked_questions') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Вопросы и ответы</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                                <a class="text-dark nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                                    Студентам
                                </a>
                                <div class="dropdown-menu dropdown-menu-md p-0">
                                    <div class="list-group list-group-flush px-lg-4">
                                        <a href="{{ url_for('scholarships') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Стипендии и гранты</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('summer_school') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Летняя школа 2021</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('summer_school_2022') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Летняя школа 2022</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('theses_search') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Архив курсовых и ВКР</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('internships_index') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Поиск IT-стажировок</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                                <a class="text-dark nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                                    Кафедра
                                </a>
                                <div class="dropdown-menu dropdown-menu-md p-0">
                                    <div class="list-group list-group-flush px-lg-4">
                                        <a href="{{ url_for('department_staff') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Сотрудники</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://oops.math.spbu.ru/SE/alumni" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Выпускники кафедры</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('contacts') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Контакты</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                                <a class="text-dark nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                                    Сервисы
                                </a>
                                <div class="dropdown-menu dropdown-menu-md p-0">
                                    <div class="list-group list-group-flush px-lg-4">
                                        <a href="{{ url_for('diplomas_index') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Темы практик и ВКР</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('thesis_review_index') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Рецензирование практик и ВКР</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('list_news') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Новости</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('theses_search') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Архив курсовых и ВКР</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('internships_index') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Поиск IT-стажировок</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{{ url_for('practice_index') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Написание практик и ВКР</small>
                                                </div>
                                            </div>
                                        </a>
                                        {% if current_user.is_authenticated and current_user.is_staff() %}
                                        <a id="practice_staff_button" href="{{ url_for('index_staff') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Написание практик и ВКР (для преподавателей)</small>
                                                </div>
                                            </div>
                                        </a>
                                        {% endif %}
                                        {% if current_user.is_authenticated and current_user.is_staff() %}
                                        <a href="{{ url_for('index_admin') }}" class="list-group-item list-group-item-action" role="button">
                                            <div class="d-flex">
                                                <!-- Media body -->
                                                <div class="ml-3">
                                                    <small class="text-sm">Написание практик и ВКР (для руководителей практик)</small>
                                                </div>
                                            </div>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>

                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('user_profile') }}" class="text-dark nav-link">
                                    Профиль
                            </a>

                            {% else %}
                            <a href="{{ url_for('login_index') }}" class="text-dark nav-link">
                                    Вход
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>

            <!-- Footer -->
            <div class="container pt-2">
                <div class="row">
                    <div class="col-lg-4 сщд-4 mb-5 mb-lg-0">
                        <!-- Theme's logo -->
                        <a href="{{ url_for('index') }}">
                            <img class="img-fluid" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/logo.svg') }}" id="footer-logo">
                        </a>
                        <!-- Webpixels' mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4">Основанная профессором А.Н. Тереховым.</p>
                    </div>
                    <div class="col-lg-4 col-4 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-4">Контактная информация</h6>
                        <ul class="list-unstyled">
                            <li><p class="text-sm opacity-8 mb-0">198504, Санкт-Петербург</p></li>
                            <li><p class="text-sm opacity-8 mb-0">Университетский проспект, дом 28</p></li>
                            <li><p class="text-sm opacity-8 mb-0">Телефон: <a href="tel:+78124287109">+7 (812) 428-71-09</a></p></li>
                            <li><p class="text-sm opacity-8 mb-0">Email: <a href="mailto:a.terekhov@spbu.ru">a.terekhov@spbu.ru</a></p></li>
                            <li><p class="text-sm opacity-8 mb-0">Telegram: <a target="_blank" href="https://t.me/sysprog2020admission">@sysprog2020admission</a></p></li>
                            <li><p class="text-sm opacity-8 mb-0">Старая версия сайта: <a target="_blank" href="https://oops.math.spbu.ru/SE">oops.math.spbu.ru/SE</a></p></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-4 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Поступающим</h6>
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('bachelor_admission') }}">В&nbsp;бакалавриат</a></li>
                            <li><a href="{{ url_for('index', _anchor='magistracy') }}">В&nbsp;магистратуру</a></li>
                            <li><a href="{{ url_for('frequently_asked_questions') }}">Вопросы и ответы</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-4 col-sm-4 mb-lg-0">
                        <h6 class="heading mb-3">Студентам</h6>
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('scholarships') }}">Стипендии и гранты</a></li>
                            <li><a href="{{ url_for('summer_school') }}">Летняя школа 2021</a></li>
                            <li><a href="{{ url_for('summer_school_2022') }}">Летняя школа 2022</a></li>
                            <li><a href="{{ url_for('theses_search') }}">Архив курсовых и ВКР</a></li>
                            <li><a href="{{ url_for('internships_index') }}">Поиск IT-стажировок</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-4 col-sm-4 mb-lg-0">
                        <h6 class="heading mb-3">Сервисы</h6>
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('diplomas_index') }}">Темы практик и ВКР</a></li>
                            <li><a href="{{ url_for('thesis_review_index') }}">Рецензирование практик и ВКР</a></li>
                            <li><a href="{{ url_for('list_news') }}">Новости</a></li>
                            <li><a href="{{ url_for('theses_search') }}">Архив курсовых и ВКР</a></li>
                            <li><a href="{{ url_for('internships_index') }}">Поиск IT-стажировок</a></li>
                            <li><a href="{{ url_for('practice_index') }}">Написание практик и ВКР</a></li>
                            {% if current_user.is_authenticated and current_user.is_staff() %}
                            <li><a href="{{ url_for('index_staff') }}">Написание практик и ВКР (для преподавателей)</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-lg-4 col-4 col-sm-4 mb-lg-0">
                        <h6 class="heading mb-3">Кафедра</h6>
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('department_staff') }}">Сотрудники</a></li>
                            <li><a href="https://oops.math.spbu.ru/SE/alumni" target="_blank">Выпускники кафедры</a></li>
                            <li><a href="{{ url_for('contacts') }}">Контакты</a></li>

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <hr class="divider divider-fade divider-dark">
                        <div class="col-lg-12">
                            <div class="text-sm font-weight-bold text-center text-md-left">
                                <a href="{{url_for('nooffer')}}" class="text-white">Данный сайт носит информационный характер и не является публичной офертой.</a>
                            </div>
                            <div class="copyright text-sm font-weight-bold text-center text-md-left">
                                &copy; Кафедра системного программирования, Математико-механический факультет, СПбГУ, 1996-2023
                            </div>
                        </div>
                </div>
        </div>
        </div>
    </footer>
    <!-- Core JS  -->
    <script src="{{ url_for('static', filename='/assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/libs/svg-injector/dist/svg-injector.min.js') }}" async defer></script>
    <script src="{{ url_for('static', filename='/assets/libs/feather-icons/dist/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/libs/in-view/dist/in-view.min.js') }}" async defer></script>
    <script src="{{ url_for('static', filename='/assets/libs/sticky-kit/dist/sticky-kit.min.js') }}" async defer></script>
    <script src="{{ url_for('static', filename='/assets/libs/imagesloaded/imagesloaded.pkgd.min.js') }}" async defer></script>
    <script src="{{ url_for('static', filename='/assets/libs/bootstrap-notify/bootstrap-notify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/libs/autosize/dist/autosize.min.js') }}" async defer></script>
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA74mo0V79zPcSWjgUMe9AdmLy3-ruPKLs"></script>
    <!-- Quick JS -->
    <script src="{{ url_for('static', filename='/assets/js/quick-website.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/js/se_scripts.js') }}"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>
</html>
