{% for t in theses.items %}
  {% include "_thesis_card.html" %}
{% endfor %}
{% if theses.total %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if theses.has_prev %}
        <li class="page-item">
          <a class="page-link"
             href="{{ url_for ('theses_search', page=theses.prev_num, worktype=worktype, startdate=startdate, enddate=enddate, supervisor=supervisor, course=course, consultant=consultant) }}"
             tabindex="-1"
             aria-disabled="true">Назад</a>
        </li>
      {% endif %}
      {% for curr_page in theses.iter_pages() %}
        {% if curr_page %}
          {% if curr_page != theses.page %}
            <li class="page-item">
              <a class="page-link"
                 href="{{ url_for ('theses_search', page=curr_page, worktype=worktype, startdate=startdate, enddate=enddate, supervisor=supervisor, course=course, search=search, consultant=consultant) }}">{{ curr_page }}</a>
            </li>
          {% else %}
            <li class="page-item active">
              <span class="page-link">{{ curr_page }}<span class="sr-only">(current)</span></span>
            </li>
          {% endif %}
        {% else %}
          <li class="page-item">
            <span class="page-link">...</span>
          </li>
        {% endif %}
      {% endfor %}
      {% if theses.has_next %}
        <li class="page-item">
          <a class="page-link"
             href="{{ url_for ('theses_search', page=theses.next_num, worktype=worktype, startdate=startdate, enddate=enddate, supervisor=supervisor, course=course, search=search, consultant=consultant) }}">Вперед</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
