{% extends "base_dark.html" %}
{% block title %}Кафедра системного программирования СПбГУ{% endblock %}
{% block description %}Кафедра Системного программирования Математико-механического факультета СПбГУ.{% endblock %}

{% block headers %}
<link rel="canonical" href="https://se.math.spbu.ru/"/>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="slice py-8 bg-dark bg-cover bg-size--cover" style="background-image: url({{ url_for('static', filename='/assets/img/main-back.jpg')}});">
        <!-- Container -->
        <div class="container d-flex align-items-center text-center text-lg-left pt-5 pb-5 pt-lg-6">
            <div class="col px-0">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-center text-lg-left">
                        <!-- Heading -->
                        <h1 class="text-white mb-1">
                            Кафедра Системного Программирования
                        </h1>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-8 text-center text-lg-left">
                        <!-- Text -->
                        <p class="lead text-white opacity-8 mt-2">
                            Основанная профессором <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B5%D1%80%D0%B5%D1%85%D0%BE%D0%B2,_%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9_%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B5%D0%B2%D0%B8%D1%87" target="_blank">А.Н. Тереховым</a>, 25 лет сочетает классические традиции математико-механического факультета с современной разработкой ПО.
                        </p>
                    </div>
                        <!-- Buttons -->
                        <div class="col-lg-12 mt-5">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <p class="lead mb-0 text-white opacity-8">
                                        СПбГУ, Математико-механический факультет
                                    </p>
                                </div>
                                <div class="col-lg-5 text-lg-right mt-4 mt-lg-0">
                                    <a href="{{ url_for('bachelor_admission') }}" class="btn btn-primary btn-lg">
                                        <span class="btn-inner--text">Поступающим в бакалавриат</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

<section class="slice bg-section-secondary" id="news">
    <div class="container">
        <div class="row mb-3 justify-content-center text-center">
                <div class="col-lg-8">
                    <h2>Новости</h2>
                </div>
            </div>
        <div class="row justify-content-center">
                <div class="col-lg-12">
                    <!-- Card -->
                    <div class="card">
                        <div class="list-group list-group-flush">
                            {% for n in news %}
                            <div class="list-group-item d-flex w-100 justify-content-between px-1 py-1">
                                <div class="col-10 my-auto">
                                    {% if n.uri %}
                                    <h6 class="font-weight-light mb-0"><a href="{{ url_for ('get_post', post=n.id)}}" target="_blank">{{n.title}}</a>&nbsp;({{n.domain}})</h6>
                                        {% if n.type.type == 1 %}
                                            <span class="badge badge-success">{{n.type}}</span>
                                        {% elif n.type.type == 2 %}
                                            <span class="badge badge-danger">{{n.type}}</span>
                                        {% elif n.type.type == 3 %}
                                            <span class="badge badge-primary">{{n.type}}</span>
                                        {% elif n.type.type == 4 %}
                                            <span class="badge badge-dark">{{n.type}}</span>
                                        {% endif %}
                                    <span class="text-sm text-muted">опубликовано {{ ages[loop.index-1] }} назад</span>
                                    {% else %}
                                    <h6 class="font-weight-light mb-0"><a href="{{ url_for ('get_post', post=n.id)}}" target="_blank">{{n.title}}</a></h6>
                                        {% if n.type.type == 1 %}
                                            <span class="badge badge-success">{{n.type}}</span>
                                        {% elif n.type.type == 2 %}
                                            <span class="badge badge-danger">{{n.type}}</span>
                                        {% elif n.type.type == 3 %}
                                            <span class="badge badge-primary">{{n.type}}</span>
                                        {% elif n.type.type == 4 %}
                                            <span class="badge badge-dark">{{n.type}}</span>
                                        {% endif %}
                                    <span class="text-sm text-muted">опубликовано {{ ages[loop.index-1] }} назад</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        <div class="row pt-2 d-flex justify-content-center">
                <div class="col-lg-3 col-md-4">
                    <a href="{{ url_for('list_news') }}" class="btn btn-lg btn-secondary btn-icon mb-3 mb-lg-0 w-100">
                        <span class="btn-inner--text">Все новости</span>
                    </a>
                </div>
            </div>
    </div>
</section>

<!-- section class="slice bg-section-secondary" id="about_se">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="card-deck">
                        <div class="card hover-shadow-lg border-0">
                            <figure>
                                <img alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/mm2.jpg') }}" class="card-img" loading="lazy">
                            </figure>
                        </div>
                        <div class="card hover-shadow-lg border-0">
                            <div class="py-3 px-3">
                                    <p class="lead px-3">Основанная профессором <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B5%D1%80%D0%B5%D1%85%D0%BE%D0%B2,_%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9_%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B5%D0%B2%D0%B8%D1%87" target="_blank">А.Н.Тереховым</a>, 25 лет кафедра сочетает классические традиции математико-механического факультета с современной разработкой ПО. В дополнение к аудиторным занятиям обучение наполнено обязательной практикой в лабораториях и компаниях.</p>
                                    <p class="lead px-3">
                                        В различных компаниях и во многих ведущих университетах по всему миру с большой вероятностью вы найдёте выпускников кафедры и мат-меха на ведущих должностях. Пройдя трудный путь от поступления до диплома, выпускники кафедры полностью готовы к участию в промышленных и научно-исследовательских проектах.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section -->

    <section class="slice clients delimiter-top delimiter-bottom" id="choose_your_path">
        <div class="container">
            <div class="row mb-3 justify-content-center text-center">
                <div class="col-lg-8">
                    <h2>Выбери свой путь</h2>
                    <div class="my-3">
                        <p class="lead lh-480">
                            Попробовав себя в разных ролях, зарекомендовав себя в различных коллективах, выпускник выбирает свой путь: создать собственный бизнес, присоединиться к лучшим индустриальным компаниям или продолжить карьеру исследователя
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12 px-2">
                    <div class="client-group row justify-content-center">
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/yandex_logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/JetBrains_logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/VK_logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/Tinkoff_Logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/Telegram_logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/Facebook_logo.svg') }}" loading="lazy">
                        </div>
                    </div>
                    <div class="client-group row justify-content-center">
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/lt_logo.png') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/Google_logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/Amazon_logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/Dell_EMC_logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/Sberbank_logo.svg') }}" loading="lazy">
                        </div>
                        <div class="client col-lg-2 col-md-3 col-4 py-3 my-auto">
                            <img style="filter: grayscale(50%);" alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/Deutsche_Bank-Logo.svg') }}" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>

    <section class="slice bg-dark-info" id="syllabus">
        <!-- Container -->
        <div class="container">
            <div class="row mb-3 justify-content-center text-center">
                <div class="col-lg-9">
                    <h2 class="text-white">Программы обучения</h2>
                    <div class="my-3">
                        <p class="lead lh-480 text-white">
                            Все учебные программы составлены с учётом международного стандарта <br><a class="text-light" href="https://www.acm.org/binaries/content/assets/education/curricula-recommendations/cc2005-march06final.pdf" target="_blank"><u>ACM Computing Curricula</u></a>, лежащего в основе подобных программ мировых университетов
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="mb-3">
                        <h4 class="text-white" id="undergraduate">Бакалавриат</h4>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="card-deck">
                        <div class="card hover-translate-y-n3 hover-shadow-lg bg-light-dark shadow-lg rounded-lg border-0">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="h6 text-white">Программная инженерия</span>
                                    </div>
                                    <div class="text-right">
                                        <span class="h6 font-weight-light text-muted">09.03.04</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="pt-2 pb-3">
                                    <p class="text-white mb-0">Для тех, кто получает удовольствие от создания программных продуктов и хочет больше узнать о процессе создания ПО</p>
                                </div>
                            </div>
                            <div class="card-footer border-0 delimiter-top">
                                <div class="row align-items-center mx-0">
                                    <div class="col-lg-4 text-center text-lg-left px-0">
                                        <h4 class="mb-0 text-white">285</h4>
                                        <p class="text-white text-sm opacity-8">Средний балл 2021</p>
                                    </div>
                                    <div class="col-lg-4 text-center text-lg-left px-0">
                                        <h4 class="mb-0 text-white">30</h4>
                                        <p class="text-white text-sm opacity-8">Мест (бюджет)</p>
                                    </div>
                                    <div class="col-lg-4 text-center text-lg-left px-0">
                                        <h4 class="mb-0 text-white">15</h4>
                                        <p class="text-white text-sm opacity-8">Мест (контракт)</p>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for('bachelor_software_engineering') }}" class="stretched-link"></a>
                        </div>
                        <div class="card hover-translate-y-n3 hover-shadow-lg bg-light-dark shadow-lg rounded-lg border-0">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="h6 text-white">Технологии программирования</span>
                                    </div>
                                    <div class="text-right">
                                        <span class="h6 font-weight-light text-muted">02.03.03</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="pt-2 pb-3">
                                    <p class="text-white mb-0">Для тех, кто получает удовольствие от решения алгоритмических и технических задач и хочет больше узнать о современных задачах и способах их решения</p>
                                </div>
                            </div>
                            <div class="card-footer border-0 delimiter-top">
                                <div class="row align-items-center mx-0">
                                    <div class="col-lg-4 text-center text-lg-left px-0">
                                        <h4 class="mb-0 text-white">279</h4>
                                        <p class="text-white text-sm opacity-8">Средний балл 2021</p>
                                    </div>
                                    <div class="col-lg-4 text-center text-lg-left px-0">
                                        <h4 class="mb-0 text-white">60</h4>
                                        <p class="text-white text-sm opacity-8">Мест (бюджет)</p>
                                    </div>
                                    <div class="col-lg-4 text-center text-lg-left px-0">
                                        <h4 class="mb-0 text-white">10</h4>
                                        <p class="text-white text-sm opacity-8">Мест (контракт)</p>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for('bachelor_programming_technology') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 text-left">
                    <h4 class="text-white" id="magistracy">Магистратура</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">
                        <div class="card hover-translate-y-n3 hover-shadow-lg shadow-lg rounded-lg border-0">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="h6">Программная инженерия</span>
                                    </div>
                                    <div class="text-right">
                                        <span class="h6 font-weight-light text-muted">09.04.04</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="pt-2 pb-3">
                                    <p class="mb-0">Для тех, кто хочет заняться научным исследованием в области решения современных технических задач</p>
                                </div>
                            </div>
                            <div class="card-footer border-0 delimiter-top">
                                <div class="row align-items-center mx-0">
                                    <div class="col-lg-6 text-center text-lg-left">
                                        <h4 class="mb-0">20</h4>
                                        <p class="text-sm opacity-8">Мест (бюджет)</p>
                                    </div>
                                    <div class="col-lg-6 text-center text-lg-left">
                                        <h4 class="mb-0">10</h4>
                                        <p class="text-sm opacity-8">Мест (контракт)</p>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for('master_software_engineering') }}" class="stretched-link"></a>
                        </div>
                        <div class="card hover-translate-y-n3 hover-shadow-lg shadow-lg rounded-lg border-0">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="h6">Математическое обеспечение и администрирование информационных систем</span>
                                    </div>
                                    <div class="text-right">
                                        <span class="h6 font-weight-light text-muted">02.04.03</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="pt-2 pb-3">
                                    <p class="mb-0">Для тех, кто хочет заняться научным исследованием в области решения современных алгоритмических задач и углубиться в профильные дисциплины</p>
                                </div>
                            </div>
                            <div class="card-footer border-0 delimiter-top">
                                <div class="row align-items-center mx-0">
                                    <div class="col-lg-6 text-center text-lg-left">
                                        <h4 class="mb-0">35</h4>
                                        <p class="text-sm opacity-8">Мест (бюджет)</p>
                                    </div>
                                    <div class="col-lg-6 text-center text-lg-left">
                                        <h4 class="mb-0">20</h4>
                                        <p class="text-sm opacity-8">Мест (контракт)</p>
                                    </div>
                                </div>
                        </div>
                        <a href="{{ url_for('master_information_systems_administration') }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="slice bg-section-secondary" id="mm_map">
        <!-- Container -->
        <div class="container">
            <!-- Title -->
            <div class="mb-5 text-center">
                <h2>Местоположение</h2>
            </div>
            <div class="row row-grid justify-content-between align-items-center">

                <div class="col-lg-6">
                    <div class="card hover-shadow-lg">
                        <div id="map-mm-dormitory" class="map-canvas rounded-left" data-lat="59.87996" data-lng="29.8305919" data-zoom="12" style="height: 500px;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card hover-shadow-lg bg-dark border-0">
                        <div class="d-flex p-5">
                            <div class="pl-4">
                                <h6 class="mb-0 text-muted">Математико-Механический факультет СПбГУ</h6>
                                <h4 class="mb-4 text-white">Учебный корпус</h4>
                                <p class="text-white">
                                    Санкт-Петербург, Старый Петергоф, Университетский проспект, дом 28
                                </p>

                                <hr class="my-3">
                                <h6 class="mb-0 text-muted">Петергофский кампус СПбГУ</h6>
                                <h4 class="mb-4 text-white">Общежитие</h4>
                                <p class="text-white">
                                    Санкт-Петербург, Старый Петергоф, Ботаническая улица, дом 66, корпус 3
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 text-center text-sm-left">
                                            <div>
                                                <h3 class="mb-0 text-white">7 минут</h3>
                                                <p class="text-muted">До учебного корпуса</p>
                                            </div>
                                    </div>
                                    <div class="col-lg-6 text-center text-sm-left">
                                            <div>
                                                <h3 class="mb-0 text-white">1 час</h3>
                                                <p class="text-muted">До метро</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card hover-shadow-lg border-0">
                        <figure>
                            <img alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/campus-1.jpg') }}" class="card-img" loading="lazy">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card hover-shadow-lg border-0">
                        <figure>
                            <img alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/campus-2.jpg') }}" class="card-img" loading="lazy">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card hover-shadow-lg">
                        <figure>
                            <img alt="Image placeholder" src="{{ url_for('static', filename='/assets/img/campus-3.jpg') }}" class="card-img" loading="lazy">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
