{% extends "base_light.html" %}
{% block title %}Сайт носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч.2 ст. 437 ГК РФ.{% endblock %}
{% block description %}Сайт носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч.2 ст. 437 ГК РФ.{% endblock %}

{% block content %}
     <!-- Main content -->
<section xmlns="http://www.w3.org/1999/html">
        <!-- Container -->
        <div class="container d-flex align-items-center pt-5 pt-lg-6 pb-5 border-bottom">
            <div class="col px-0">
                <div class="row">
                    <div class="col-lg-9">
                        <!-- Heading -->
                        <h1 class="h2 mb-2">Сайт носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч.2 ст. 437 ГК РФ.</h1>
                        <!-- Text -->
                        <p class="lead">Фактические данные (стоимость проживания в общежитии, количество бюджетных мест, мест по контракту и другая информация) могут отличаться. Актуальную информацию проверяйте на <a href="https://abiturient.spbu.ru/" target="_blank">официальном сайте приёмной комиссии СПбГУ</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}