{% extends "base_light.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block description %}Восстановление пароля{% endblock %}
{% block content %}
  <section>
    <div class="container d-flex align-items-center mt-7 pt-lg-6 pb-5 border-bottom">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="h2 mb-2">Восстановление пароля</h1>
            <p class="lead">Функция восстановления пароля временно недоступна. Пожалуйста, обратитесь к администратору сайта.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
