{% extends 'base_light.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block description %}Восстановление пароля на сайте кафедры Системного программирования СПбГУ.{% endblock %}
{% block content %}
  <section class="slice mt-6 pt-5">
    <div class="container">
      <div class="row row-grid align-items-center justify-content-center pt-4">
        <div class="col-9">
          {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
              {%- for message in errors %}
                <div class="alert alert-info" role="alert">
                  <strong>Ошибка!</strong> {{ message }}
                </div>
              {% endfor -%}
            {% endif %}
          {% endwith %}
          {% with messages = get_flashed_messages(category_filter=["message"]) %}
            {% if messages %}
              {%- for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor -%}
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="row row-grid align-items-center">
        <div class="col-12 col-md-6 col-lg-7 order-md-1 pr-md-5">
          <h3 class="text-center text-md-left mb-3">Восстановление пароля</h3>
          <p class="lead text-center text-md-left">
            Укажите адрес электронной почты, указанный при регистрации. На него будет отправлена одноразовая ссылка для сброса пароля (действует 1 час).
          </p>
        </div>
        <div class="col-12 col-md-4 col-lg-4 order-md-2">
          <div>
            <div class="mb-3 text-center">
              <h6 class="h3 mb-1">Восстановить</h6>
            </div>
            <span class="clearfix"></span>
            <form method="post" action="{{ url_for('password_recovery') }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i data-feather="at-sign"></i></span>
                  </div>
                  <input type="email"
                         class="form-control"
                         name="email"
                         autocomplete="email"
                         placeholder="Почта">
                </div>
              </div>
              <div class="mt-4">
                <button type="submit" class="btn btn-block btn-primary">Отправить ссылку</button>
              </div>
            </form>
            <div class="mt-4 text-center">
              <small>Вспомнили пароль?</small>
              <a href="{{ url_for('login_index') }}" class="small font-weight-bold">Войти</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
