{% extends "base_dark.html" %}

{% block title %}Направления исследований{% endblock %}
{% block description %}Направления исследований кафедры Системного программирования Математико-механического факультета СПбГУ.{% endblock %}

{% block content %}
<!-- Шапка -->
<section class="slice bg-dark bg-cover bg-size--cover pt-9" style="background-image: url({{ url_for('static', filename='/assets/img/main-back.jpg') }} );">
    <div class="container d-flex align-items-center text-center text-lg-left pt-3 pt-lg-4">
        <div class="col px-0">
            <div class="row align-items-center">
                <div class="col-lg-8 text-center text-lg-left">
                    <h1 class="text-white mb-1">
                        Направления исследований
                    </h1>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-8 text-center text-lg-left">
                    <p class="lead text-white opacity-8 mt-2 mb-0">
                        Основные направления научной деятельности кафедры
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="shape-container shape-line shape-position-bottom">
        <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" class="fill-section-secondary">
            <polygon points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>

<!-- Основной контент -->
<section class="slice bg-section-secondary">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-start">
            {% for dir in directions %}
            <div class="card shadow-sm border-0 rounded-3 m-2" style="width: 48%; min-width: 300px; flex-grow: 1;">
                <div class="card-body d-flex align-items-center justify-content-start text-left">
                    <p class="card-text mb-0">{{ dir }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
