{% extends "base_dark.html" %}
{% block title %}Курсовые и выпускные квалификационные работы студентов Кафедры Системного Программирования{% endblock %}
{% block description %}Список курсовых и выпускных квалификационных работ бакалавров и магистров Кафедры Системного программирования Математико-механического факультета СПбГУ.{% endblock %}

{% block headers %}
<link rel="canonical" href="https://se.math.spbu.ru/theses.html"/>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="slice pt-8 bg-dark bg-cover bg-size--cover" style="background-image: url({{ url_for('static', filename='/assets/img/main-back.jpg')}});">
        <!-- Container -->
        <div class="container d-flex align-items-center text-center text-lg-left pt-5 pt-lg-6">
            <div class="col px-0">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-center">
                        <!-- Heading -->
                        <h1 class="text-white mb-1">
                            Курсовые и выпускные квалификационные работы
                        </h1>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-12 text-center">
                        <!-- Text -->
                        <p class="lead text-white opacity-8 mt-2">
                            Курсовые и выпускные квалификационные работы студентов Кафедры Системного Программирования с 2009 по 2021 год.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="slice clients delimiter-top delimiter-bottom bg-section-secondary" id="theses">
        <div class="container">
            <div class="row row-grid">
                <div class="col-lg-9">
                    {% for t in theses %}
                    <div class="card border-0">
                        <div class="card-header">
                            <h6><strong>{{ t.name_ru }} [{{ t.publish_year }}]</strong></h6>
                        </div>
                        <div class="card-body pt-2">
                            <p class="text-sm mb-0">Автор: <i>{{t.author}}</i></p>
                            <p class="text-sm mb-0">Руководитель: <i>{{t.supervisor.user.get_name()}}</i></p>
                            <p class="text-sm mb-0">
                                <a href="{{ url_for('static', filename='/thesis/texts/' + t.text_uri) }}"><i data-feather="file-text"></i> Текст работы</a>,
                                <a href="{{ url_for('static', filename='/thesis/presentations/' + t.presentation_uri) }}"><i data-feather="download"></i> Презентация</a>,
                                <a href="{{ url_for('static', filename='/thesis/reviews/' + t.supervisor_review_uri) }}">Отзыв руководителя</a>
                                <a href="{{ url_for('static', filename='/thesis/reviews/' + t.reviewer_review_uri) }}">Отзыв рецензента</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-3 ml-lg-auto">
                    <div data-toggle="sticky" data-sticky-offset="10">
                        <div class="card">
                            <div class="card-header">
                                <span class="h6 mb-0">Фильтры</span>
                            </div>
                            <div class="card-body">
                                <p class="text-sm mb-0">
                                    Тип работы
                                </p>
                                <div class="form-group">
                                    <select class="custom-select">
                                        <option selected value="0">Все работы</option>
                                        <option value="1">Курсовые</option>
                                        <option value="2">Бакалаврские ВКР</option>
                                        <option value="3">Магистерские ВКР</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>

{% endblock %}
