{% extends "base_dark.html" %}
{% block title %}Курсовые и выпускные квалификационные работы студентов Кафедры Системного Программирования{% endblock %}
{% block description %}Список курсовых и выпускных квалификационных работ бакалавров и магистров Кафедры Системного программирования Математико-механического факультета СПбГУ.{% endblock %}

{% block headers %}
<link rel="canonical" href="https://se.math.spbu.ru/theses.html"/>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="slice pt-8 bg-dark bg-cover bg-size--cover" style="background-image: url({{ url_for('static', filename='/assets/img/main-back.jpg')}});">
        <!-- Container -->
        <div class="container d-flex align-items-center text-center text-lg-left pt-5 pt-lg-6">
            <div class="col px-0">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-center">
                        <!-- Heading -->
                        <h1 class="text-white mb-1">
                            Курсовые и выпускные квалификационные работы
                        </h1>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-12 text-center">
                        <!-- Text -->
                        <p class="lead text-white opacity-8 mt-2">
                            Курсовые и выпускные квалификационные работы студентов Кафедры Системного Программирования с 2009 по 2021 год.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="slice clients delimiter-top delimiter-bottom bg-section-secondary" id="theses">
        <div class="container">
            <div class="row row-grid">
                <div class="col-lg-9" id="ThesisList">
                </div>
                <div class="col-lg-3 ml-lg-auto">
                    <div data-toggle="sticky" data-sticky-offset="10">
                        <div class="card">
                            <div class="card-header px-3">
                                <span class="h6 mb-0">Фильтры</span>
                            </div>
                            <div class="card-body px-3">
                                <p class="text-sm mb-0">
                                    Тип работы
                                </p>
                                <div class="form-group">
                                    {{ filter.csrf_token }}
                                    {{ filter.worktype(class_="custom-select pl-3") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
{% endblock %}
