{% extends "base_dark.html" %}
{% block title %}Рецензирование учебных практик и ВКР{% endblock %}
{% block description %}Сервис для рецензирования учебных практик и ВКР{% endblock %}

{% block headers %}
<link rel="canonical" href="https://se.math.spbu.ru/thesis_review/index.html" />
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="slice pt-8 bg-dark bg-cover bg-size--cover" style="background-image: url({{ url_for('static', filename='/assets/img/main2.jpg')}});">
        <!-- Container -->

        <div class="container align-items-center text-center text-lg-left pt-3 pt-lg-4">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <h3 class="text-white">Рецензирование учебных практик и ВКР</h3>
                </div>
            </div>
        </div>
    </section>

     <section class="slice clients delimiter-top delimiter-bottom bg-section-secondary" id="themes">
        <div class="container">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="row row-grid align-items-center justify-content-center pt-4">
                <div class="col-12">
                    {%- for message in errors %}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor -%}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            <div class="row row-grid">
                <div class="col-lg-9" id="ThemesList">
                    {% for t in thesis %}
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="mb-0"><strong>{{ t.name_ru }} ({{t.type}})</strong></h6>
                                </div>
                                <div class="col-auto ml-auto text-right">
                                    {% if t.text_uri %}
                                    <a href="{{ url_for('static', filename='/thesis/onreview/' + t.text_uri) }}" class="text-reset" target="_blank">
                                        <div class="icon icon-sm icon-shape bg-soft-success text-success" data-content="Текст работы" data-placement="top" data-trigger="hover" data-toggle="popoverhover">
                                            <i class="fas fa-file-pdf"></i>
                                        </div>
                                    </a>
                                    {% endif %}
                                    {% if current_user.is_authenticated %}
                                        {% if t.author_id == user.id %}

                                         <div class="dropdown">
                                             <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                                 <i class="fas fa-ellipsis-v"></i>
                                             </a>
                                             <div class="dropdown-menu dropdown-menu-right">
                                                 <a href="{{ url_for ('edit_thesis_on_review', thesis_review_id=t.id)}}" class="dropdown-item">
                                                     Редактировать
                                                 </a>
                                                 <a data-toggle="modal" data-target="#exitModal" class="dropdown-item">
                                                     Удалить
                                                 </a>
                                             </div>
                                         </div>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Подтверждение</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы точно хотите удалить эту работу'?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{{url_for('delete_thesis_on_review', thesis_review_id=t.id)}}" type="button" class="btn btn-secondary">Да, точно</a>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Нет, я передумал</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-2 pb-4">
                            {% if t.review_status == 0 %}
                                <p class="text-sm mb-0">Статус: работа зачтена {% if t.author_id == user.id or user.staff %} (<i class="text-primary"><a href="{{url_for('review_result_thesis_on_review', thesis_review_id=t.id)}}">посмотреть рецензию</a></i>) {% endif %} </p>
                            {% elif t.review_status == 1 %}
                                <p class="text-sm mb-0">Статус: <i >Требуется рецензия</i> {% if user.staff %} {% if t.author_id != user.id %} <a href="{{url_for('review_thesis_on_review', thesis_review_id=t.id)}}">(<i class="text-warning">взять на рецензию</i>)</a> {% endif %} {% endif %}</p>
                            {% elif t.review_status == 2 %}
                                <p class="text-sm mb-0">Статус: {% if t.reviewer.user_id == user.id %} <a href="{{url_for('review_thesis_on_review', thesis_review_id=t.id)}}"><i>На рецензии...</i> (Рецензент: {{t.reviewer}})</a> {% else %} <i>на рецензии...</i> (Рецензент: {{t.reviewer}}) {% endif %} </p>
                            {% elif t.review_status == 3 %}
                                <p class="text-sm mb-0">Статус: Требуется доработка (<i class="text-primary"><a href="{{url_for('review_result_thesis_on_review', thesis_review_id=t.id)}}">посмотреть рецензию</a></i>)</p>
                            {% endif %}

                            <p class="text-sm mb-0">Автор: <i>{{t.author}}</i></p>
                            <p class="text-sm mb-0">Направление: <i>{{t.course.name}}</i></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-3 ml-lg-auto" id="DiplomaThemesFilter">
                    <div data-toggle="sticky" data-sticky-offset="10">
                        <div class="card">
                            <div class="card-body px-3">
                                {{ review_filter.csrf_token }}

                                <p class="text-sm mb-0">
                                    Статус
                                </p>
                                <div class="form-group">
                                    {{ review_filter.status(class_="custom-select pl-3") }}
                                </div>

                                <p class="text-sm mb-0">
                                    Уровень работы
                                </p>
                                <div class="form-group">
                                    {{ review_filter.worktype(class_="custom-select pl-3") }}
                                </div>

                                <p class="text-sm mb-0">
                                    Направление обучения
                                </p>
                                <div class="form-group">
                                    {{ review_filter.areasofstudy(class_="custom-select pl-3") }}
                                </div>
                                <div class="col px-0">
                                    <a href="{{url_for('submit_thesis_on_review')}}" class="btn btn-sm btn-block btn-primary">Загрузить работу</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
{% endblock %}