По итогам рецензирования ваша работа "{{thesis.name_ru}}" отправлена на доработку.
Вам необходимо исправить все замечания и снова отправить работу на рецензирование. Обязательно ознакомьтесь с текущей рецензией &mdash;
она поможет вам исправить недочеты и улучшить общее качество работы. Ознакомиться с
рецензией вы можете на сайте кафедры: <a href="https://se.math.spbu.ru{{url_for('review_result_thesis_on_review', thesis_review_id=thesis.id)}}">https://se.math.spbu.ru/review/review_result?thesis_review_id={{thesis.id}}</a>