{% extends 'base_light.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<section class="mt-7 pt-6 bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Title -->
                        <h1 class="h2 mb-0">
                            Личный кабинет
                            <a data-toggle="modal" data-target="#exitModal" class="text-sm" href="#">(Выход)</a>
                            <!-- Modal -->
                            <div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Подтверждение</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Вы точно хотите выйти?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/logout" type="button" class="btn btn-secondary">Да, я выхожу!</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Нет, я остаюсь</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <form method="POST" action="/profile.html">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Title -->
                            <h5 class="mb-3">Основная информация <span class="text-sm">(id: {{user.id}}{% if user.role > 0 %}, role: {{user.role}}{% endif %})</span></h5>

                            <!-- General information -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group card-body text-center mb-0 pb-0">
                                        <img alt="{{user.first_name}}" src="{{ url_for('static', filename='/images/avatars/' + user.avatar_uri) }}" class="avatar-parent-child rounded-circle avatar-lg" itemprop="image" loading="lazy">

                                            <input type="file" name="avatar" id="file_chosen" hidden/>
                                            <label class="btn btn-link h6" for="file_chosen" id="upload_avatar_btn">Обновить аватар</label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="form-control-label">Почта</label>
                                        <input class="form-control" type="email" name="email" placeholder="А вас не установлен email" {% if user.email %} value="{{user.email}}" {% endif %} readonly>
                                        <small class="form-text text-muted mt-2">Это ваш основной почтовый адрес, на него мы будем отправлять уведомления.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-0">
                                    <div class="form-group">
                                        <label class="form-control-label">Фамилия</label>
                                        <input class="form-control" type="text" name="last_name" placeholder="Ваша фамилия" {% if user.last_name %} value="{{user.last_name}}" {% endif %}>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-0">
                                    <div class="form-group">
                                        <label class="form-control-label">Имя</label>
                                        <input class="form-control" type="text" name="first_name" placeholder="Ваше имя" value="{{user.first_name}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Отчество</label>
                                        <input class="form-control" type="text" name="middle_name" placeholder="Ваше отчество" {% if user.middle_name %} value="{{user.middle_name}}" {% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Title -->
                            <h5 class="my-3">Контактная информация</h5>

                            <!-- General information -->
                            <div class="row">
                                <div class="col-md-12 pr-0">
                                    <div class="form-group">
                                        <label class="form-control-label">Как с вами связаться</label>
                                        <input class="form-control" type="text" name="how_to_contact" placeholder="лучше в телеграме @Zelenchuk, но можно и на почту ilya@hackerdom.ru" {% if user.how_to_contact %} value="{{user.how_to_contact}}" {% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="mt-3">
                        <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
const fileChosen = document.getElementById('file_chosen');

fileChosen.addEventListener('change', function(){
    const file = this.files[0];

    const formData = new FormData();
    formData.append('file', file);

    fetch('/upload_avatar', {method: "POST", body: formData}).then(function(response){

        if (!response.ok){
            console.log(response);
            //window.location.href = '/404.html'
        } else {
            window.location.href = '/profile.html'
        }
    });

})
</script>

{% endblock %}