{% extends "base_light.html" %}

{% block content %}

    <section class="mt-7 pt-6 bg-section-secondary">
        <div class="container">

            <div class="row mb-3">
                <div class="col-12">
                    <h2>Личный кабинет студента</h2>
                </div>
            </div>

            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="row row-grid align-items-center justify-content-center pt-4">
                <div class="col-12">

                    {%- for message in errors %}

                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor -%}

                </div>
            </div>
            {% endif %}
            {% endwith %}


            <div class="row row-grid">
                <div class="col-md-3">

                    <div id="accordion-1" class="accordion accordion-stacked mb-2">

                        <div class="card">
                            <div class="py-4" style="padding: 1.25rem 1.75rem; margin-bottom: 0; background-color: transparent; border-bottom: 1px solid #eaecf3;">
                                <a href="{{ url_for('account_index') }}"><h6 class="mb-0">Главная</h6></a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="py-4" style="padding: 1.25rem 1.75rem; margin-bottom: 0; background-color: transparent; border-bottom: 1px solid #eaecf3;">
                                <a href="{{ url_for('account_guide') }}"><h6 class="mb-0">Справочник</h6></a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="py-4" style="padding: 1.25rem 1.75rem; margin-bottom: 0; background-color: transparent; border-bottom: 1px solid #eaecf3;">
                                <a href="{{ url_for('account_new_thesis') }}"><h6 class="mb-0">Новая работа</h6></a>
                            </div>
                        </div>

                        {% if user.user_student %}
                        {% for practice in user.user_student[0].thesises %}
                        <div class="card">
                            <div class="card-header py-4" id="{{ "heading-"+(practice.id|string()) }}" data-toggle="collapse" role="button" data-target="{{ "#collapse-"+(practice.id|string()) }}" aria-expanded="false" aria-controls="{{ "collapse-"+(practice.id|string()) }}">
                                <h6 class="mb-0" style="padding-right: 0.5rem">Учебная практика {{ practice.course }} курс</h6>
                            </div>
                            <div id="{{ "collapse-"+(practice.id|string()) }}" class="collapse" aria-labelledby="{{ "heading-"+(practice.id|string()) }}" data-parent="#accordion-1">
                                <div style="flex: 1 1 auto; min-height: 1px; padding: 0 1.75rem 0.5rem; color: #718096;">
                                    <nav class="nav flex-column">
                                        <a class="nav-link" href="{{ url_for('account_data_for_practice', id=practice.id) }}">Настройки</a>
                                        <a class="nav-link" href="{{ url_for('account_choosing_topic') }}">Выбор темы</a>
                                        <a class="nav-link" href="{{ url_for('account_workflow') }}">Рабочий процесс</a>
                                        <a class="nav-link" href="{{ url_for('account_preparation') }}">Подготовка к защите</a>
                                        <a class="nav-link" href="{{ url_for('account_thesis_defense') }}">Защита</a>
                                        <a class="nav-link" href="{{ url_for('account_materials') }}">Материалы</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}


                    </div>


                </div>
                <div class="col-md-9">
                    {% block content_account %}{% endblock %}
                </div>
            </div>
        </div>
     </section>

{% endblock %}