{% extends "account/base_writing_thesis_staff.html" %}

{% block title %}Текущие работы{% endblock %}

{% block content_writing_thesis_staff %}

<div class="container">

    <div class="row">
        <div class="col">
            <h5>Текущие работы</h5>
        </div>
    </div>

    {% if not thesises %}
    <div class="row">
        <div class="col text-center">
            <p>Здесь будут отображаться текущие работы, в которых Вы указаны как научный руководитель</p>
        </div>
    </div>
    {% else %}
    {% for thesis in thesises %}
    <div class="card border-0 mb-3">
        <div class="card-header">
            <h6 class="mb-0"><a href="{{ url_for('writing_thesis_thesis', id=thesis.id) }}">{{ thesis.title }}</a></h6>
        </div>
        <div class="card-body pt-2 pb-3">
            <p class="text-sm mb-0">Студент: {{ thesis.user.get_name() }}</p>
            <p class="text-sm mb-0">Тип работы: {{ thesis.worktype }}</p>
            <p class="text-sm mb-0">Направление: {{ thesis.area }}</p>
            <a type="btn" href="{{url_for('writing_thesis_reports', id=thesis.id)}}">Просмотреть отчеты студента</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}