{% extends "account/base_account.html" %}

{% block title %}Настройки{% endblock %}

{% block content_account %}

<div class="container">

    <div class="row">
        <div class="col">
            <h5 class="align-right">Настройки</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="usr">ФИО:</label>
                <input type="text" class="form-control" name="username" value="{{user.get_name()}}" disabled>
            </div>
       </div>
    </div>

    <form method="POST" action="{{url_for('account_data_for_practice') }}">
        <!-- General information -->
        {{ form.csrf_token }}

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="form-group">
                    <label for="course">Выберите курс:</label>
                    {{ form.course(class_="custom-select pl-3") }}
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-12">
                <div class="form-group">
                    <label for="area">Выберите направление:</label>
                    {{ form.area(class_="custom-select pl-3") }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
            </div>
        </div>

    </form>

</div>

{% endblock %}