{% extends "account/base_account.html" %}

{% block title %}Главная{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/simplemde.min.css') }}" id="stylesheet">
    {{ simplemde.js }}
{% endblock %}

{% block content_account %}

<div class="container">

    <div class="row">
        <div class="col">
            <h5 class="align-right">Главная</h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs mb-3">
                {% if type_notifications == "new" %}
                <li class="nav-item">
                    <a id="NewNotifications" class="nav-link active" href="{{ url_for('account_index', notifications='new') }}">Непрочитанные уведомления</a>
                </li>
                <li class="nav-item">
                    <a id="AllNotifications" class="nav-link" href="{{ url_for('account_index', notifications='all') }}" onclick="return true;">Все уведомления</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a id="NewNotifications" class="nav-link" href="{{ url_for('account_index', notifications='new') }}">Непрочитанные уведомления</a>
                </li>
                <li class="nav-item">
                    <a id="AllNotifications" class="nav-link active" href="{{ url_for('account_index', notifications='all') }}">Все уведомления</a>
                </li>
                {% endif %}
            </ul>

            <form name="read_buttons_form" method="POST" action="{{ url_for('account_index', notifications=type_notifications) }}">
                <input id="hiddenReadButton" type="hidden" name="read_button" value="0"/>

                {% if type_notifications == "new" %}
                {% if not notifications_not_viewed %}
                <div class="row">
                    <div class="col">
                        <p class="text-center">Здесь будут отображаться непрочитанные уведомления</p>
                    </div>
                </div>
                {% else %}
                {% for notification in notifications_not_viewed %}
                <div class="card mb-2 border-0">
                    <div class="card-body pt-3 pb-3">
                        <div class="row">
                            <div class="col">
                                {{ notification.content|markdown }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="text-sm">
                                    {{ notification.time | datatime_convert }}
                                </i>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <a href="" onClick="document.getElementById('hiddenReadButton').value = {{notification.id}}; read_buttons_form.submit(); return false;">
                                    <span id="span{{notification.id}}" class="badge btn-secondary" style="display: inline-block;"
                                      onmouseover="changeBadge('span{{notification.id}}');"
                                      onmouseout="changeBadgeBack('span{{notification.id}}');">
                                    Не прочитано
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% else %}
                    {% if not notifications %}
                    <div class="row">
                        <div class="col">
                            <p class="text-center">Здесь будут отображаться все уведомления</p>
                        </div>
                    </div>
                    {% else %}
                    {% for notification in notifications %}
                    <div class="card mb-2 border-0">
                        <div class="card-body pt-3 pb-3">
                            <div class="row">
                                <div class="col">
                                    {{ notification.content|markdown }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <i class="text-sm">
                                        {{ notification.time | datatime_convert }}
                                    </i>
                                </div>
                                {% if notification.viewed %}
                                <div class="col d-flex justify-content-end">
                                    <a><span class="badge btn-success disabled" style="display: inline-block; width: 103px">
                                        Прочитано
                                    </span></a>
                                </div>
                                {% else %}
                                <div class="col d-flex justify-content-end">
                                    <a href="" onClick="document.getElementById('hiddenReadButton').value = {{notification.id}}; read_buttons_form.submit(); return false;">
                                        <span id="span{{notification.id}}" class="badge btn-secondary" style="display: inline-block;"
                                          onmouseover="changeBadge('span{{notification.id}}');"
                                          onmouseout="changeBadgeBack('span{{notification.id}}');">
                                        Не прочитано
                                        </span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
    
</div>

<script type="text/javascript">
    function changeBadge(id)
    {
        span = document.getElementById(id);
        let widthSpan = span.offsetWidth;
        span.textContent = 'Прочитано';
        span.style.width = widthSpan.toString() + "px";
        span.className = "badge btn-success";
    }
    function changeBadgeBack(id)
    {
        span = document.getElementById(id);
        span.textContent = 'Не прочитано';
        span.className = "badge btn-secondary";
    }

    let position = 0;
    document.getElementById('NewNotifications').addEventListener('click', () => { localStorage[position] = window.scrollY })
    document.getElementById('AllNotifications').addEventListener('click', () => { localStorage[position] = window.scrollY })
    document.querySelectorAll('.badge').forEach(element =>
    {
        element.addEventListener('click', () => { localStorage[position] = window.scrollY });
    });

    window.addEventListener('load', e =>
    {
        if (localStorage[position] != 0)
        {
            window.scrollTo(0, localStorage[position]);
            localStorage[position] = 0;
        }
    });
</script>

{% endblock %}