{% extends "account/base_account.html" %}

{% block title %}Мой профиль{% endblock %}

{% block content_account %}

<div class="container">

    <div class="row">
        <div class="col">
            <h5 class="align-right">Мой профиль</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="usr">ФИО:</label>
                <p class="form-control" id="userFullName" name="username" disabled>{{user.get_name()}}</p>
            </div>
        </div>
    </div>


    <form method="POST" action="{{url_for('submit_course_area') }}">
        <!-- General information -->
        {{ form.csrf_token }}

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="form-group">
                    <label for="course">Выберите курс:</label>
                    {{ review_filter.course(class_="custom-select pl-3") }}
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-12">
                <div class="form-group">
                    <label for="area">Выберите направление:</label>
                    {{ review_filter.area(class_="custom-select pl-3") }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
            </div>
        </div>

    </form>

</div>

{% endblock %}