{% extends "base_light.html" %}

{% block head_links %}
<link rel="stylesheet" href="{{ url_for('static', filename='/assets/libs/flatpickr/dist/flatpickr.min.css') }}" >
{% endblock %}

{% block content %}

<section class="mt-7 pt-6 bg-section-secondary">
    <div class="container">

        <form method="POST" action="{{url_for('account_temp_deadline') }}">
            {{ form.csrf_token }}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body pt-3">
                            <h6>Установить дедлайн</h6>

                            <div class="form-group">
                                <label for="course">Для какого курса:</label>
                                {{ form.course(class_="custom-select pl-3") }}
                            </div>

                            <div class="form-group">
                                <label for="area">Для какого направления:</label>
                                {{ form.area(class_="custom-select pl-3") }}
                            </div>

                            <div class="form-group">
                                <label for="choose_topic">Дедлайн на выбор темы:</label>
                                {{ form.choose_topic(class="form-control flatpickr-input flatpickr-mobile", type="datetime-local", placeholder="Select date and time") }}
                            </div>


                            <div class="row">
                                <div class="col">
                                    <input type="submit" class="btn btn-sm btn-primary" name="submit_button" value="Сохранить">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</section>

{% endblock %}