{% extends "base_light.html" %}

{% block content %}

<section class="mt-7 pt-6 bg-section-secondary">
    <div class="container">

        <form method="POST" action="{{url_for('account_temp') }}">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body pt-3">
                            <h6>Cоздать уведомление</h6>

                            <div class="form-group">
                                <input name="recipient" type="text" class="form-control" placeholder="Recipient_id">
                            </div>

                            <div class="form-group">
                                <input name="content" type="text" class="form-control" placeholder="Content">
                            </div>

                            <div class="row">
                                <div class="col">
                                    <input type="submit" class="btn btn-sm btn-primary" name="submit_button" value="Создать">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</section>

{% endblock %}