{% extends "practice/student/base_practice.html" %}

{% block title %}Выбор темы{% endblock %}

{% block content_account %}

<div class="container">

    <div class="row">
        <div class="col">
            <h5>Выбор темы</h5>
        </div>
    </div>

    <form method="POST" action="{{url_for('practice_edit_theme', id=practice.id) }}">
        {{ form.csrf_token }}

        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body pt-3">
                        <h6>Редактирование темы</h6>

                        <div class="form-group">
                            <label for="topic">Название темы</label>
                            {{form.topic(class_="form-control", placeholder=form.topic.description)}}
                        </div>

                        <div class="form-group">
                            <label for="staff">Научный руководитель</label>
                            {{ form.staff(class_="custom-select pl-3") }}
                        </div>

                        <div class="row">
                            <div class="col">
                                <input type="submit" class="btn btn-sm btn-primary" name="save_topic_button" value="Сохранить">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

{% endblock %}