{% extends "practice/student/base_practice.html" %}

{% block title %}Новый отчёт{% endblock %}

{% block content_account %}

<div class="container">

    <div class="row">
        <div class="col">
            <h5>Создаём отчет</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Опишите проделанную работу и дальнейшие планы, чтобы научный руководитель знал о текущем состоянии вашей ВКР.</p>
        </div>
    </div>
    <form method="POST" action="{{url_for('practice_add_new_report', id=practice.id)}}">
        {{ form.csrf_token }}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body py-3">

                        <div class="container">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="IjFlODYzMGM3OGJhOGJmZDMwNmE0YWJiODkyMjkyN2U1ZDliMWMwMDEi.Yy__0A.-a2HDsftJTasLBHG084ksWFYZ34">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mb-0">
                                        <h6>Что было сделано? (для форматирования используется <a href="https://simplemde.com/markdown-guide" target="_blank">Markdown</a>)</h6>
                                        {{form.was_done(class_="form-control", placeholder=form.was_done.description, rows="3")}}
                                        <script>
                                        (function () {
                                            console.log('yes');
                                            var simplemde = new SimpleMDE({
                                            spellChecker: false,
                                            element: document.getElementById("was_done"),
                                            });
                                        })();
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mb-0">
                                        <h6>Что планируется сделать? (для форматирования используется <a href="https://simplemde.com/markdown-guide" target="_blank">Markdown</a>)</h6>
                                        {{form.planned_to_do(class_="form-control", placeholder=form.planned_to_do.description, rows="3")}}
                                        <script>
                                        (function () {
                                            var simplemde = new SimpleMDE({
                                                spellChecker: false,
                                                element: document.getElementById("planned_to_do"),
                                            });
                                        })();
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-sm btn-primary" name="submit_button" value="Создать отчет">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

{% endblock %}