{% extends "base_light.html" %}
{% block title %}Предложите свою тему{% endblock %}
{% block description %}Предложите свою тему{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/simplemde.min.css') }}" id="stylesheet">
    {{ simplemde.js }}
{% endblock %}

{% block content %}
<section class="">
    <div class="container">
    </div>
</section>

<section class="pt-6 bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Title -->
                        <h1 class="h2 mb-2">
                            Предложите свою тему
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                        <!-- Form -->

                        <form method="POST" action="{{url_for('add_user_theme')}}">
                            {{ form.csrf_token }}
                            <!-- General information -->
                            <div class="row pt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Название темы</label>
                                        {{form.title(class_="form-control", placeholder=form.title.description)}}
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Описание (для форматирования используется <a href="https://simplemde.com/markdown-guide" target="_blank">Markdown</a>)</label>
                                        {{form.description(class_="form-control", placeholder=form.description.description, data_toggle="autosize", rows="9")}}
                                        {{ simplemde.load_id("description") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Требования к студенту (для форматирования используется <a href="https://simplemde.com/markdown-guide" target="_blank">Markdown</a>)</label>
                                        {{form.requirements(class_="form-control", placeholder=form.requirements.description, rows="3")}}
                                        {{ simplemde.load_id("requirements") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Уровень темы</label>
                                        {% for choice in form.levels %}
                                        <div class="form-check">
                                            {{ choice(class="form-check-input") }}
                                            {{ choice.label(class="form-check-label") }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Консультант</label>
                                        {{form.consultant(class_="form-control", value=user, readonly=true)}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Источник темы</label>
                                        {{form.company(class_="custom-select")}}
                                        <label class="text-left badge badge-dot d-block form-control-label"><i class="bg-warning mr-2"></i>Если вашей компании или кафедры нет в списке, <a href="https://t.me/Zelenchuk" target="_blank">свяжитесь со мной</a>.</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="mt-3">
                                <button type="submit" class="btn btn-sm btn-primary">Предложить тему</button>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
</section>

{% endblock %}