{% for t in themes.items %}
<div class="card border-0">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="mb-0"><a href="{{ url_for('get_theme', id=t.id) }}" class="link text-primary"><strong>{{t.title}}</strong></a></h6>
                                </div>
                                <div class="col-auto ml-auto text-right">
                                    {% if t.company.id == 1 %}
                                    <img alt="Image placeholder" src="/images/avatars/{{t.author.avatar_uri}}" class="avatar  rounded-circle" style="height: 50px">
                                    {% else %}
                                    <img alt="Image placeholder" src="/images/logos/{{t.company.logo_uri}}" style="height: 50px">
                                    {% endif %}
                                </div>
                            </div>
    </div>
                        <div class="card-body py-2">
                            {% set ns = namespace(found = false) %}
                            <p class="mb-0">Уровень: {% if t.levels %} {% for level in t.levels %}{% if 'ВКР' in level.level %} {% set ns.found = true %} {% endif %}{{level.level}}{% if not loop.last %}, {% endif %} {% endfor %} {% endif %}</p>
                            <p class="mb-0">Источник темы: {% if t.company.id == 1 %} {{t.author}} {% else %} {{t.company.name}} {% endif %}</p>
                            {% if t.supervisor %} <p class="mb-0">Руководитель: {{t.supervisor.get_name()}}</p> {% endif %}
                            {% if t.supervisor_thesis %}{% if ns.found %}<p class="mb-0">Руководитель ВКР: {{t.supervisor_thesis.get_name()}}</p> {% endif %}{% endif %}
                            <p class="">Консультант: {{t.consultant.get_name()}} </p>
                        </div>
                    </div>
{% endfor %}

{% if themes.total %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if themes.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for ('diplomas_index', page=themes.prev_num, format=format) }}" tabindex="-1" aria-disabled="true">Назад</a>
    </li>
      {% endif %}

      {% for curr_page in themes.iter_pages() %}
      {% if curr_page %}
        {% if curr_page != themes.page %}
            <li class="page-item"><a class="page-link" href="{{ url_for ('diplomas_index', page=curr_page, supervisor=supervisor, company=company, level=level) }}">{{curr_page}}</a></li>
        {% else %}
        <li class="page-item active"><span class="page-link">{{curr_page}}<span class="sr-only">(current)</span></span></li>
        {% endif %}
      {% else %}
        <li class="page-item"><span class="page-link"> ... </span></li>
      {% endif %}
      {% endfor %}

      {% if themes.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for ('diplomas_index', page=themes.next_num, supervisor=supervisor, company=company, level=level) }}">Вперед</a>
    </li>
      {% endif %}
  </ul>
</nav>
{% endif %}