name: CD

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: deploy_environment
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run deploy on server
          uses: appleboy/ssh-action@v0.1.10
          with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.SSHKEY }}
            script:
