{% extends "base_light.html" %}
{% block title %}Стипендия Президента РФ для студентов мат-меха СПбГУ{% endblock %}
{% block description %}Стипендия Президента РФ для студентов мат-меха СПбГУ.{% endblock %}


{% block content %}
     <!-- Main content -->
<section xmlns="http://www.w3.org/1999/html">
        <!-- Container -->
        <div class="container d-flex align-items-center pt-5 pt-lg-6">
            <div class="col px-0">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Heading -->
                        <h1 class="h2 mb-2">Стипендия Президента РФ для студентов (все направления)</h1>
                        <p class="lead">Сроки проведения конкурса: февраль-март 2022 года</p>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="slice py-4">
    <div class="container border-bottom">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-lg border-0" style="max-width: 100%;">
                        <div class="card-body py-4 text-center text-md-left">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h4 class="font-weight-normal text-center">
                                        Для кого
                                    </h4>
                                    <ul class="text-center list-unstyled">
                                        <li><p class="lead">2, 3 курса бакалавриата</p></li>
                                        <li><p class="lead">1 курса магистратуры</p></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <h4 class="font-weight-normal text-center">
                                        Размер стипендии
                                    </h4>
                                    <p class="text-center lead">
                                        2 200 рублей в месяц
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h4 class="font-weight-normal text-center">
                                        Период выплаты
                                    </h4>
                                    <p class="text-center lead">
                                        1 учебный год
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row">
                <div class="col-lg-2">
                    <p class="lead font-weight-bold">Необходимые условия</p>
                </div>
                <div class="col-lg-10">
                    <p class="lead">
                        Наличие по результатам промежуточной аттестации не менее 50% оценок «отлично» от общего количества полученных оценок при отсутствии оценок «удовлетворительно», полученных в течение года, и отсутствие академической задолженности за весь период обучения.
                    </p>
                </div>
            </div>

        <hr class="divider divider-fade" />
        <div class="row">
                <div class="col-lg-2">
                    <p class="lead font-weight-bold">Достижения, учитываемые в конкурсе</p>
                </div>
                <div class="col-lg-10">
                    <p class="lead">Достижения, полученные студентом в течение 2 лет, предшествующих назначению стипендии:</p>
                    <ul>
                        <li><p class="lead">наличие достижений в учебе, подтвержденных дипломами (другими документами) победителей всероссийских и международных олимпиад, творческих конкурсов, фестивалей;</p>
                        <li><p class="lead">наличие двух и более научных (научно-методических, научно-технических, научно-творческих) результатов интеллектуальной деятельности (патент, свидетельство);</li>
                        <li><p class="lead">наличие двух и более статей, опубликованных в центральных изданиях РФ и за рубежом,</p>
                        <li><p class="lead">наличие работ, содержащих информацию ограниченного доступа. </p></li>
                    </ul>

                </div>
            </div>

        <hr class="divider divider-fade" />
        <div class="row">
                <div class="col-lg-2">
                    <p class="lead font-weight-bold">Нормативные акты</p>
                </div>
                <div class="col-lg-10">
                    <ul>
                        <li><p class="lead"><a href="https://students.spbu.ru/files/06_09_1993-N-613.pdf" target="_blank">Положение</a></p></li>
                        <li><p class="lead"><a href="https://students.spbu.ru/files/Prikaz_poryadok_na_20-21_Imennihe_stipendii.pdf" target="_blank">Приказ о порядке конкурсного отбора стипендий Президента по приоритетным направлениям</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}