{% extends "base_light.html" %}
{% block title %}Стипендия Правительства РФ для аспирантов приоритетного направления мат-меха СПбГУ{% endblock %}
{% block description %}Стипендия Правительства РФ для аспирантов приоритетного направления мат-меха СПбГУ.{% endblock %}


{% block content %}
     <!-- Main content -->
<section xmlns="http://www.w3.org/1999/html">
        <!-- Container -->
        <div class="container d-flex align-items-center pt-5 pt-lg-6">
            <div class="col px-0">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Heading -->
                        <h1 class="h2 mb-2">Стипендия Правительства РФ для аспирантов (приоритетные направления)</h1>
                        <p class="lead">Сроки подачи заявки и проведения конкурса: 26.02.2022 - 09.04.2022</p>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="slice py-4">
    <div class="container border-bottom">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-lg border-0" style="max-width: 100%;">
                        <div class="card-body py-4 text-center text-md-left">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h4 class="font-weight-normal text-center">
                                        Для кого
                                    </h4>
                                    <ul class="text-center list-unstyled">
                                        <li><p class="lead">Аспирантов</p></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <h4 class="font-weight-normal text-center">
                                        Размер стипендии
                                    </h4>
                                    <p class="text-center lead">
                                        10 000 рублей в месяц
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h4 class="font-weight-normal text-center">
                                        Период выплаты
                                    </h4>
                                    <p class="text-center lead">
                                        1 семестр
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row">
                <div class="col-lg-2">
                    <p class="lead font-weight-bold">Необходимые условия</p>
                </div>
                <div class="col-lg-10">
                    <p class="lead">
                        Наличие по результатам промежуточной аттестаций не менее 50% оценок «отлично» от общего количества полученных оценок при отсутствии оценок «удовлетворительно», полученных по итогам промежуточной аттестации, и отсутствие академической задолженности за весь период обучения.
                    </p>
                </div>
            </div>

        <hr class="divider divider-fade" />
        <div class="row">
                <div class="col-lg-2">
                    <p class="lead font-weight-bold">Достижения, учитываемые в конкурсе</p>
                </div>
                <div class="col-lg-10">
                    <p class="lead">Достижения, полученные студентом в течение 2 лет, предшествующих назначению стипендии:</p>
                    <ul>
                        <li><p class="lead">признание обучающегося победителем либо призером международной, всероссийской, ведомственной или региональной олимпиады, или олимпиады, проводимой организацией конкурса, соревнования, состязания, иного мероприятия, направленного на выявление учебных достижений обучающихся;</p>
                        <li><p class="lead">наличие награды (приза) за проведение научно-исследовательской работы;</li>
                        <li><p class="lead">наличие документа, удостоверяющего исключительное право обучающегося на достигнутый им научный (научно-методический, научно-технический, научно-творческий) результат интеллектуальной деятельности (патент, свидетельство);</p>
                        <li><p class="lead">наличие гранта на выполнение научно-исследовательской работы.</p></li>
                    </ul>
                    <p class="lead">Достижения, полученные студентом в течение 1 года, предшествующих назначению стипендии:</p>
                    <ul>
                        <li><p class="lead">наличие публикации в научном (учебно-научном, учебно-методическом) международном, всероссийском, ведомственном, региональном издании, в издании организации. Указанная публикация может содержать информацию ограниченного доступа;</p>
                        <li><p class="lead">публичное представление студентом результатов научно-исследовательской работы (в том числе путем выступления с докладом (сообщением) на конференции, семинаре, ином мероприятии (международном, всероссийском, ведомственном, региональном), проводимых организацией.</li>
                    </ul>
                </div>
            </div>

        <hr class="divider divider-fade" />
        <div class="row">
                <div class="col-lg-2">
                    <p class="lead font-weight-bold">Нормативные акты</p>
                </div>
                <div class="col-lg-10">
                    <ul>
                        <li><p class="lead"><a href="https://students.spbu.ru/files/03_11_2015-1192.pdf" target="_blank">Положение</a></p></li>
                        <li><p class="lead"><a href="https://students.spbu.ru/files/1360_1-25022021.pdf" target="_blank">Приказ о порядке конкурсного отбора стипендий Президента по приоритетным направлениям</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}